:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    display: flex;
}
#settings{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sketch{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}
.grid-item{
    background-color: pink;
    border: 1px solid black;
}
/* dev css */
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}