:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA;
}
div,p,button,input {
    color: #212529;
}
button{
    padding: 10px;
    border: 1px solid #212529;
    border-radius: 4px;
    font-size: 18px;
    min-width: 180px;
}
#main{
    display: flex;
    background-color: #DEE2E6;
    padding: 50px;
    border-radius: 10px;
    gap: 20px;
}
#settings{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 250px;
    margin-left: -30px;
}
#sketch{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    border: 10px solid #ADB5BD;
    border-radius: 10px;
}
.grid-item{
    background-color: pink;
    border: 1px solid #212529;
}
#clear:active{
    transform: scale(0.98);
    color: #F8F9FA;
    background-color: #343A40;
}

/* dev css */
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}